*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: rgb(70, 68, 68);
    color: rgb(255, 255, 255);
}
nav{
    padding: 20px;
    background-color: coral; 
}

#nav_items{

    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav_items li a{
     
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: azure;
   
}
#nav_items li a:hover{
    color: black;
}

.cover{

    height: 700px;
    border: 2px solid black;
    position: relative;
    color: azure;
}

.cover::before{
    content: "";
    background: url(/peter-broomfield-m3m-lnR90uM-unsplash.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.cover h1{
    
    font-size: 3rem;
    position: absolute;
    top: 200px;
    left: 200px;
    font-family: Arial, Helvetica, sans-serif;

}
.cover h2{
    
    font-size: 2rem;
    position: absolute;
    top: 300px;
    left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.article{
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.side_panel{

    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(230, 216, 198);
}

footer{
    border: 2px solid black;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 48);
}

footer a{

    color: white;
    text-decoration: none;

}

@media (max-width:1064px) {
     
    .cover h1{

        top: 200px;
        left: 100px;
    }

    .cover h2{

        top: 300px;
        left: 100px;
    }

}


@media (max-width:750px) {
     
    .cover h1{

        top: 100px;
        left: 100px;
    }

    .cover h2{

        top: 200px;
        left: 100px;
    }

    .article{
        flex-direction: column;
    }
}